<%- include("partials/header") -%>

    <% if(condition1){ %>
        <div class="alert alert-danger text-center"><%=message%></div>
    <% } %>

    <div class="container py-md-5 col-lg-7 col-lg-offset-7 container--narrow">
        <form action="/generateProject" method="POST">
            <div class="form-group">
                <label for="post-title" class="text-muted mb-1">Title</label>
                <input required name="title" id="post-title" class="form-control form-control-lg form-control-title"
                    type="text" placeholder="" autocomplete="off">
            </div>

            <div class="form-group">
                <label for="post-body" class="text-muted mb-1">Body Content</label>
                <textarea rows="12" required name="body" id="post-body" class="body-content tall-textarea form-control"
                    type="text"></textarea>
            </div>

            <div class="form-group">
                <label for="post-body" class="text-muted mb-1">Select major to which your project belong</label>
                <select name="major" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <% for(var i=0;i<major.length;i++){ %>
                        <option value="<%=major[i]%>"><%=major[i]%></option>
                    <% } %>
                </select>
            </div>
            <br>
            <button class="btn btn-primary">Save Project and Proceed</button>
        </form>
    </div>

<%- include("partials/footer") -%>