<%- include("partials/header") -%>
  <% if(projects.length===0){ %>

    <div class="text-center">
      <h2>Hello <strong>
          <%=username%>
        </strong>, your feed is empty.</h2>
      <p class="lead text-muted">
        Your feed displays the latest posts from the people you follow. If you
        don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the
        &ldquo;Search&rdquo; feature in the top menu bar to find content written by
        people with similar interests and then follow them.
      </p>
    </div>

    <% }else{ %>

      <div class="all-project-container">
        <h2>All Projects...</h2>
        <div class="list">
          <% for(var i=0 ; i < projects.length ; i++ ){ %>
            <a href="/project/<%=projects[i]._id%>" class="list-group-item list-group-item-action">
              <strong>
                <%=projects[i].project_title%>
              </strong>
            </a>

            <% } %>
        </div>
      </div>

      <% } %> <%- include("partials/footer") -%>