<%- include("partials/header") -%>

    <div class="container py-md-5 col-lg-7 col-lg-offset-7 container--narrow">
        <div>
            <h1>Project Major:</h1>
            <h4><%=major%></h4>
        </div>
        <div>
            <h1>Project Title:</h1>
            <h2><%=title%></h2>
        </div>
        <div class="body-content">
            <h1>Project Description:</h1>
            <p><%=content%></p>

        </div>
    </div>

<%- include("partials/footer") -%>